header {
    text-align:center;
    margin: 20px;
    border: 3px solid ;
    border-radius: 5px;
    background-color:rgb(173, 242, 242);
    padding: 5px;
}

p {
    font-family: 'Space Mono', monospace;
    padding: 10px;
    text-align: center;
    font-style: italic;
    font-family: 'Space Mono', monospace;
    font-style: italic;
    font-size:20px;
}


body {

    background-size:cover;
    background-image: url(https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: contain;
    font-style: italic ;
    font-weight: bold;
    
}

.menu {
    background-color: rgb(173, 242, 242);
    font-size: x-large;
    padding: 50;
    margin: 20px;
    text-align: center;
    border: 3px solid;
    border-radius: 5px;

}

.menu li a {
    color: black;
    padding: 15px;
    display:block;
}

.menu li {
    display: inline-block;
}

.menu li a:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    border: 2px solid;
}

.napa {
    padding: 2px;
    border: 3px solid;
    border-radius: 6px;
    width: 350px;
    height: 400px;
    margin-left: 40%;

}

footer {
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-size: x-large;
    border: 3px solid;
    padding: 2px;
    margin: 20px;
    border-radius: 5px;
    background-color: rgb(173, 242, 242);
}

.indice {
    text-align: left;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    border: 3px solid;
    margin:20px;
}


.media {
    border: 3px solid;
    margin: 20px;
    justify-content: space-around;
}


.formulario {

    font-family: 'Space Mono', monospace;
}


.logo {
    width: 64px;
    height: 64px;
}

.iconos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    opacity: 90%;
    
}

.informacion {
    font-size: x-large;
    margin: 20px;
    
}

.vestimenta {
    width: 500px;
    border: 5px solid;
}

.metro {
    width: 500px;
    border: 5px solid;
}

.cebra {
    width: 500px;
    border: 5px solid;
}

.autismo {
    width: 500px;
    border: 5px solid;
}

.fundacion {
    width: 100px;
}



