header {
    text-align:center;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    background-image:url(/img/fondocab.jpg)
}

p {
    font-style: italic;
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    
    text-align:center;
    background-image:url(/img/fondocab.jpg);
    border-radius: 15px;
}

body {
    background-image: url(/img/fondobody.jpg);
    font-style: italic ;
    font-weight: bold;  
    
}

.menu {
    background-image:url(/img/fondocab.jpg);
    font-size: x-large;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}

.menu li a {
    color: black;
    padding: 15px;
    display:block;
}

.menu li {
    display: inline-block;
}

.menu li a:hover {
    color:orange;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    border: 2px solid;
}

.napa {
    padding: 2px;
    border: 3px solid rgb(127, 126, 126);
    border-radius: 6px;
    width: 350px;
    height: 400px;
    margin-left: 5%;
    
}

footer {
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-size:large;
    margin: 5px;
    border-radius: 5px;
    background-image:url(/img/fondocab.jpg);
   
    
}

.indice {
    text-align: left;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    border: 3px ;
    margin:5px;
    background-image:url(/img/fondocab.jpg);
    padding: 12px;
}


.media {
    border: 3px solid;
    margin: 20px;
    justify-content: space-around;
}

.logo {
    width: 64px;
    height: 64px;
    border: 3px solid rgb(127, 126, 126);
    margin-top: 3px;
}

.informacion {
    margin: 90px;
    text-align: left;
    display:flex;
    margin-left: 10%;
}

.informacion p {
    text-align: center;
    width: 35%;
    height: 20%;
    padding: 2%;
    margin-left: 10%;
}

h3 {
    text-align: center;
    border: 3px solid rgb(127, 126, 126);
    background-image:url(/img/fondocab.jpg);
    padding: 12px;
    font-size: x-large;
}

.labor{
    font-size:20px;
    font-family: 'Space Mono', monospace;
    border: 3px;
    background-image:url(/img/fondocab.jpg);
    padding: 10px;
    margin: 5px;
    display: block;
    
    text-align: center;
}

.cebra {
    width: 300px;
    height: 200px;
    border: solid;
}

.guia {
    width: 300px;
    height: 200px;
    margin-left: 5px;
    border: solid;
}

.metro {
    width: 300px;
    height: 200px;
    border: solid;

}

.autismo {
    width: 290px;
    height: 200px;
    margin-left: 5px;
    border: solid;
    
}

.solicitud {
    padding: 10px;
    width: 400px;
    margin-left: 35%;
}

.dosperros {
    width: 290px;
    height: 200px;
    margin-left: 5px;
    border: solid;
}

.escaleras {
    width: 290px;
    height: 200px;
    border: solid;
}

.iconos a {
    color: white;
    border: 1px solid;
    height: 5px;
}

.fotosguia {
    margin-left: 40%;
    margin: 20px;
    
}

.videoguia {
    margin-left: 35%;
    
}

.labrador {
    color: red;
}

.golden {
    color: rgb(255, 0, 208);
}

.pastoraleman {
    color: rgb(0, 34, 255);
}

.flat {
    color: rgb(17, 129, 36);
}

.caniche {
    color: rgb(9, 2, 10);
}

.solicitud p {
    text-align: justify;
    padding: 20px;
    width: 500px;
}

form {
    text-align: justify;
    font-style: italic;
    font-family: 'Space Mono', monospace;
    margin-left: 40%;
}


.nombre {
    text-align: justify;
    padding: 5px;
}

.apellidos {
    text-align: justify;
    padding: 5px;
}

.telefono {
    text-align: justify;
    padding: 5px;
    margin top: 5px;
    border top: 10px;
}

.correo {
    text-align: justify;
    padding: 5px;
    margin top: 5px;
}

.dudas {
    text-align: justify;
    padding: 5px;
    margin margin-top: 5px;
}


.iconos {
    margin-top: 200px;

}

