header {
    text-align:center;
    margin: 5px;
    border: 3px solid ;
    border-radius: 5px;
    padding: 5px;
    background-image:url(/img/fondocab.jpg)
}

p {
    font-family: 'Space Mono', monospace;
    padding: 10px;
    text-align: center;
    font-style: italic;
    font-family: 'Space Mono', monospace;
    font-style: italic;
    font-size:20px;
}


body {
    background-image: url(https://media.istockphoto.com/vectors/paw-print-animal-paw-footprint-footstep-footpath-vector-illustration-vector-id1001993016?k=20&m=1001993016&s=612x612&w=0&h=XolM_fAzB1ZUqEvLqxHtEZ2e30F0dNU9XFo43Z7VEIk=);
    font-style: italic ;
    font-weight: bold;
    background-size: 250px;
    
}

.menu {
    background-image:url(/img/fondocab.jpg);
    font-size: x-large;
    padding: 50;
    margin: 5px;
    text-align: center;
    border: 3px solid;
    border-radius: 5px;

}

.menu li a {
    color: black;
    padding: 15px;
    display:block;
}

.menu li {
    display: inline-block;
}

.menu li a:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    border: 2px solid;
}

.napa {
    padding: 2px;
    border: 3px solid;
    border-radius: 6px;
    width: 350px;
    height: 400px;
    margin-left: 40%;

}

footer {
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-size:large;
    border: 3px solid;
    padding: 2px;
    margin: 5px;
    border-radius: 5px;
    background-image:url(/img/fondocab.jpg);
}

.indice {
    text-align: left;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    border: 3px solid;
    margin:20px;
}


.media {
    border: 3px solid;
    margin: 20px;
    justify-content: space-around;
}


.formulario {

    font-family: 'Space Mono', monospace;
}


.logo {
    width: 64px;
    height: 64px;
}

.iconos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    opacity: 90%;
    
}

.informacion {
    font-size: x-large;
    margin: 5px;
    border: 3px solid;
    background-image:url(/img/fondocab.jpg);
    
}

.vestimenta {
    width: 500px;
    border: 5px solid;
}

.metro {
    width: 500px;
    border: 5px solid;
}

.cebra {
    width: 500px;
    border: 5px solid;
}

.autismo {
    width: 500px;
    border: 5px solid;
}

.fundacion {
    width: 100px;
}



